.chartsContainer {
    display: flex;
    box-sizing: border-box;
}

.chartsWrapper {
    display: flex;
    width: 65%;
}

.areaChart {
    width: 50%;
}

.barChart {
    width: 50%;
}

.pieLabel {
    color: green;
    font-weight: 900;
}


